*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    
    width: 100vw;
    display: flex;
    justify-content: space-around;
   
}
.item{
    width: 230px;
    /* margin: 15px; */
    
}

@media screen and (width < 660px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }
    .item{
        width: 90vw;
        height: 80vh;

    }
    
}

img{
    width: 100%;
    border-radius: 15px;
    

}
.heading{
    text-align: center;
    font-size: 1.5rem;
}
/* .item2{
    display: inline-block;
    margin-left: 20px;
    width: 380px; 
} */

.header{
    width: 100vw;
    height: 4vw;
    position:fixed;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.empty{
    height: 7vw;
}